Flask
pymongo
sqlalchemy
nltk
flatten-dict
numpy
jellyfish
scikit-learn
toolz
requests
pytest==5.2.1
spacy
polyglot
gunicorn==19.7.1
selenium==3.13.0
pyvirtualdisplay==0.2.1
google-cloud-pubsub==1.0.0
evernote
PyGreSQL
